PUBLIC_DOMAIN=blog.example.com
ADMIN_DOMAIN=admin.blog.example.com
ACCOUNT_DOMAIN=account.blog.example.com
DASHBOARD_DOMAIN=dashboard.blog.example.com
EMAIL=admin@example.com
PROJECT_NAME=blog-platform
